body {
    background-color: gray;
    font-size: 0.85em;
}

#contenedor {
    border-bottom: solid;
    border-style:groove;
    background-color: white;
    width: 1200px;
    margin: 0em auto;
}

#cabecera {
    border-bottom: solid
}

#menu {
    font-size: 1.3em;
    float: left;
    width: 200px;
}

#contenido {
    float: left;
    width: 900px;
}

#pie {
    border-top: solid;
    clear: both;
}


